body{
    margin: 0;
    padding: 0;
    background-color: greenyellow;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

a{
    position: relative;
    text-decoration: none;
    width: 210px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
    color: black;
    text-decoration-line: none;
}

a:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
}

a:hover:before {
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
    }
     50%{
        width: 0;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
     100%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
a:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    background: transparent;
    border: 6px solid transparent;
    box-shadow: 10;
}

a:hover:after {
    animation: animate2 1s linear forwards;
    animation-delay: 1s;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: #262626;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
     50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
     100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
}