body{
    background-color: #F59476;
}

#message-top{
    margin-top: 180px;
    font-size: 36px;
    position: fixed;
    padding: 30px 30px 30px 50px;
    letter-spacing: 5px;
    width: 600px;
 
}

#message-container-2{
    margin-top: 2500px;
    width: 100%;
}

#message-bottom {
    font-size: 36px;
     padding: 30px 30px 30px 50px;
    margin-left: 14px;
    letter-spacing: 5px;
    margin-left: 44%;
    
}
#bottom{
    margin-top: 1500px;
}

@media screen and (max-width: 1198px){
    #message-bottom{
        margin-left: 52%;
    }
}

@media screen and (max-width: 1028px){
    #message-bottom{
        margin-left: 44%;
        font-size: 28px;
    }
    #message-top{
        font-size: 28px;
    }
}

}